@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.outer-rectangle {
    width: 300px;
    height: 480px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px hsl(220, 15%, 55%);
}

.qr-code {
    width: 275px;
    height: 275px;
    background-color: hsl(218, 44%, 22%);
    background-image: url(https://github.com/ArnoldMajor/Frontend-Mentor---QR-code-element-challenge/blob/main/image-qr-code.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

p {
    font-weight: 400;
    font-size: 15px;
    padding: 0 20px;
    text-align: center;
    color: hsl(220, 15%, 55%)
}

@media (max-width: 375px) {
    .outer-rectangle {
        width: 275px;
        height: 440px;
    }

    .qr-code {
        width: 250px;
        height: 250px;
    }
}
